/* Container for slide */
#slideshowWrapper {
    width: 460px;
    height: 259px;
    overflow: hidden;
    position: relative;
}

/* Class for the whole slideshow */
#slideshowWrapper .slideshow {
    display: block;
    width: 2300px;
    height: 259px;
    margin: 0;
    padding: 0;
}

/* Class for each slide */
#slideshowWrapper .slide {
    float: left;
    list-style-type: none;
    width: 460px;
    height: 259px;
    padding: 0;
    margin: 0;
}

/* Class for the image in each slide */
#slideshowWrapper .slide img {
    width: 460px;
    height: 259px;
    padding: 0;
}

/* Caption/description text for the slide */
.caption {
    background: none repeat scroll 0 0 rgba(0, 83, 163, .7);
    bottom: 0%;
    left: 0;
    width: 100%;
    font-size: 18px;
    font-weight: normal;
    font-family:"Helvetica Neue",Helvetica,"Liberation Sans",sans-serif;
    color: rgba(251, 206, 101, 1);
    margin: 0;
    padding: 6px;
    position: absolute;
    z-index: 1;
}

.caption span {
    opacity: 0;
}

/* Button to go to next slide */
.next {
    color: #ffffff;
    position: absolute;
    background: rgba(0,0,0, .5);
    top: 50%;
    right: 0;
    padding: 10px 5px 15px 10px;
    z-index: 1;
    font-size: 2em;
    margin-top: -.75em;
    opacity: .5;
    user-select: none;
}

/* Button to go to previous slide */
.prev {
    color: #ffffff;
    position: absolute;
    background: rgba(0,0,0, .5);
    top: 50%;
    left: 0;
    padding: 10px 5px 15px 10px;
    z-index: 1;
    font-size: 2em;
    margin-top: -.75em;
    opacity: .5;
    user-select: none;
}

/* For numbers so that when you click on it, takes user to that
specific slide */
.num {
    position: absolute;
    background: none repeat scroll 0 0 rgba(0, 83, 163, 0.9);
    outline: 1px;
    outline-style: solid;
    outline-color: rgba(255, 255, 255, 0.8);
    top: 5%;
    margin-top: -.75em;
    padding: 5px 5px 5px 5px;
    font-size: .8em;
    font-weight: bold;
    font-family:"Helvetica Neue",Helvetica,"Liberation Sans",sans-serif;
    color: #ffffff;
    opacity: .7;
    z-index: 1;
    user-select: none;
}

/* Hover changes button opacity */
.next:hover, .prev:hover, .num:hover{
    cursor: pointer;
    opacity: 1;
}
